
#wrapper{
width: 100%;
overflow: hidden;
position: relative;
padding: 0;
}

*{
	box-sizing: border-box;
}

.loader-container {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.hidden{
	display: none;
}

#loader {
    display: block;
    position: absolute;
    font-size: 0;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    transform: translateY(-50%) translateX(-50%);
  }

#loader img {
    display: block;
    width: 100%;
    vertical-align: middle;
}

#myCarousel .carousel-item{
    text-align: center;
    max-height: 550px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.main-nav button{
  position:absolute;
  right: 0px;
  top: 13px;
  border:none;
  height:40px;
  outline:none;
  text-align:center;
}

.navbar{
 padding: 5px!important;
 min-height: 40px;
 box-shadow: 0px 1px 20px #ccc;
 border-radius: 0px!important; 
 position: relative;
}

.main-nav a{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
}

.main-nav a:hover{
  color: #e75d57;
  font-size: 16px;
  font-weight: 600;
}
.navbar-brand {
    float: left;
    height: auto!important;
    padding-top:0px;
}

.navbar-toggler:focus{
  border: none;
  outline: none;
  align-items: center;
  
}
#navbarCollapse{
	background-color: #343a40;
	padding:0px 10px;
  min-height: 40px;
}

.dropdown-menu{
	right: 0!important;
	left: -100px;
}
.dropdown-menu a{
  color: #000;
}

.dropdown-menu a:active{
  background:#e75d57;
  color: #fff;
}

.image-screen img{
	margin: auto;    
    display: block;
}


.fa-bars, .fa-bars{
	color: #fff;
}

/*Search button*/

form.searchButton{
  margin: auto;
  position: relative;
  width: 400px;
  min-width: 270px;
  padding: 0 15px;
}

form.searchButton input{
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  background-color:#f1f1f1;
}
form.searchButton button{
  border: none;
  background-color: transparent;
  outline: none;
}

form.searchButton button i{
    position:absolute;
    top:17px;
    right:30px;
    width:24px;
    height:24px;
}

input:focus{
  outline: none;
}


.filter{
  padding: 10px 20px;
}

.filter button{
  background-color: #2b2b2b;
  color: white;
}

.filter button:hover{
  background-color: #2b2b2b;
  color: white;
}
/*
Product main*/
.fix-image {
  width: 300px;
  height: 200px;
}

h6.card-type{
  font-size: 15;
  font-weight: 500;
  color: #616161;
}


.card-details > .fa{
 font-size: 30px;
 position: relative;
    top: 4px;
}

.card-details span{
	font-size: 18px;
	padding: 0 5px 10px ;
}

.card-time > .fa{
 font-size: 30px;
 position: relative;
    top: 4px;
}

.card-time span{
	font-size: 18px;
	padding: 0 5px 10px ;
}


.card-img-top{
height: 100%;
width: 100%;
object-fit: cover;
}

.card{
  width: 300px;
}
.buy-btn{
  background-color:  #e75d57;
  color: white;
  border: none;
}


.modal-btn{
  float:right;
}

.buy-btn:hover{
  color: #fff;
}

.product-main-display{
  margin-top: 20px;
}

.product-main-display:after {
    clear: both;
}
.product-main-display:before, .product-main-display:after {
    content: " ";
    display: table;
}

.product-page-display{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: start;
  padding:0 18px;
}



a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.fit-image{
width: 100%;
object-fit: cover;
height: 300px; /* only if you want fixed height */
}


@media screen and  (min-width: 768px){
  .product-main-display{
    width: 750px;}
}

@media screen and (min-width: 992px){
  .product-main-display{
    width: 970px;}
}


@media screen and (min-width: 1200px){
  .product-main-display{
    width: 1230px;}
}

@media only screen and (max-width: 767px){

.fix-image {
  width: 300px;
  height: 200px;
}

.card{
  width: 300px;
}

.product-page-display{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  align-items: start;
  padding:0 18px;
}


}

@media only screen and (max-width: 500px){
.fix-image {
  width: 300px;
  height: 180px;
}

p.card-text{
  font-size:10px;
  font-weight: 500;
  text-align: justify;
  color: #4f4f4f;
}

.card-price{
  font-size:15px;
  font-weight: 700;
  color: #e75d57;
  padding-bottom: 5px;
}

.modal-btn{
  float:right;
}

.card-body{
  padding:10px;

}

.card{
  width: 300px;
}


.product-page-display{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 5px;
  align-items: start;
  padding:0 10px;
}

.hire-mech{
	width: 200px;
	border: none;
	padding: 10px 5px;
	margin: 20px 0;
	border-radius:8px;
	background-color:  #e75d57;
	color: #fff;
	font-size: 1.2rem;
}
}



